@{
    ViewBag.Title = "Contact";
}

<br /><br /><br />
<style>
    .jumbotron{
        margin-left:200px;
      
        width:600px;
        text-align:center;
    }
</style>
<div class="jumbotron">


    <h2 style="color:orangered;text-align:center">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nacr city<br />
        14 Ramo building <br />
        <abbr title="Phone">P:</abbr>
        01142426036
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:info@armytechgroup.com">info@armytechgroup.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:azizaeltohamy@gmail.com">azizaeltohamy@gmail.com</a>
    </address>

</div>
















































